body, html {
	height: 100%;
}

body {
	margin: 0;
	overflow: hidden;
}

main {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

#lists {
	flex: 1;
	display: flex;
}

.data-list {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	font-size: 4vh;
}

.data-list li {
	list-style: none;
	user-select: none;
}

.btn-list {
	width: 50%;
}

.btn-list li:first-child {
	border-top: none;
}

.btn-list li {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(221, 221, 221);
	border: 1px solid black;
	border-bottom: none;
	border-left: none;
	cursor: pointer;
}

.text-list {
	max-height: calc(100vh - 23px);
	border: 1px solid black;
	border-left-style: none;
	border-block-end: none;
	text-align: center;
	overflow-y: auto;
	align-items: stretch;
	border-top: none;
}

input {
	outline: none;
}

#input {
	width: 100%;
	display: flex;
}

#input input{
	flex: 1;
}

#generate_popup {
	display: none;
	width: 200px;
	height: 120px;
	padding: 10px;
	border-radius: 20px;
	flex-direction: column;
	background-color: rgb(167, 167, 167);
	position: absolute;
	top: calc(50% - 70px);
	left: calc(50% - 110px);
}

#generate_popup * {
	margin-bottom: 5px;
}

#generate_popup .range {
	display: flex;
}

#generate_popup .range input {
	width: 100%;
}

#generate_popup .buttons {
	margin: 0;
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: end;
}

#generate_popup .buttons button {
	width: 60px;
}
